$fontColor: white;
$font-stack: Lato;

html {
	height: 100%;
	body {
		position: relative;
		height: auto;
		font-family: $font-stack;
		color: $fontColor;
		background-color: #081c24;  
		h1, h2, h3 {
			text-transform: capitalize;
		}
		h1 {
			font-size: 42px;
			font-weight: 300;
		}
		h2 {
			font-size: 25px;
			font-weight: 200;
			font-style: italic;
		}
		h3 {
		margin-top: 20px;
		font-size: 20px;
		font-weight: normal;
		}
		a {
			cursor: pointer;
		}
	}
}
nav {
	width: 100%;
	padding-bottom: 0px;
	height: 100%;
	background-color: #081c24;
	.navbar-header {
		a {
			margin-top: 30px;
			color: $fontColor;
			position: relative;
			z-index: 10;
		}
	}
	.navbar-nav {
		position: relative;
		height: 100px;
		overflow: visible !important;
		li {
		padding-left: 5%;
			.nav-link {
				padding: 0px;
				margin-top: 38px;
			}
			.tv-links {
				left: 205px;
			}
			ul {
				display: none;
				list-style-type: none;
				height: auto;
				width: 100%;
				position: absolute;
				top: 40px;
				left: 80px;
				li {
					display: inline-block;
					font-size: 14px;
				}
			}
		}
	}
	
}
.container{
	height: auto;

	.header {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.searchbar {
		position: fixed;
		width: 100%;
		top: 116px;
		left: 0px;
		height: 100px;
	
		input {
			width: 100%;
			height: 70px;
			padding-left: 21%;
			font-size: 20px;
			font-weight: 200;
			font-style: italic;
		}
	}
}

.resize {
	height: 10%;
}

.content-list {
	padding: 20px;
	margin-top: 230px;
	background-image: url("images/tan.jpg");
	ul {
		list-style: none;
		padding: 20px;
		li {
			cursor: pointer;
			margin: 10px;
			vertical-align: top;
			display: inline-block;
			width: 185px;
			height: 380px;
			box-shadow: 0px 4px 12px rgba(0,0,0,.5),0 2px #fff
				inset;
			background-color: #081c24;
			.dv-star-rating {
				padding: 10px 0 0 10px;
			}
			p {
				padding: 0 10px 0px 10px;
				color: $fontColor;
			}
		}
	}
}

.content-detail {
	padding: 40px;
	margin-top: 230px;
	background-image: url("images/tan.jpg");
		h1 {
			color: black;
		}
		h2 {
			color: black;
		}
		p {
			color: black;
		}
		hr {
			margin: 20px 0px 20px 0px;
			border: .5px solid #ccc;
		}
		span {
			font-size: 30px;
		}
	.dv-star-rating {
		font-size: 30px;
		margin-bottom: 20px;
	}
	.movie-info {
		p {
			font-weight: 200;
			margin: 3px;
			color: black;
			span {
				font-size: 1rem;
				font-weight: 200;
				color: black;
			}
		}
	}
	.content-detail-bottom {
		margin-top: 50px;
	}
}


